html, body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%
}

html, body, Content, GridView {
	width: 100%
}

body {
	min-height: 100%;
}

.DBDisplay tr th {
	padding: 5px;
}

.font-weight-bold {
	font-weight: bold;
}

#printSection, .printable {
	visibility: hidden;
}
